<div>
  <div id="slideshow">
    <img v-for="image in home.images" :key="image" :src="image" width="200" height="150" />
  </div>
  {{ home.title }}
  <br />
  ${{ home.pricePerNight }} / night
  <br />
  <img src="/images/marker.svg" width="20" height="20" />
  {{ home.location.address }} {{ home.location.city }} {{ home.location.state }} {{ home.location.country }}
  <br />
  <img src="/images/star.svg" width="20" height="20" />
  {{ home.reviewValue}}
  <br />
  {{ home.guests }} guests, {{ home.bedrooms }} rooms, {{ home.beds }} beds, {{ home.bathrooms }} bath
  <br />
  {{ home.description }}
  <div id="map" ref="google-map"></div>
  <div v-for="review in reviews" :key="review.objectID">
    <img :src="review.reviewer.image" />
    <br />
    {{ review.reviewer.name }}
    <br />
    {{ $dateFns.format(review.date, $nuxt.context.env.dateFormat) }}
    <br />
    <short-text :text="review.comment" :target="150" />
    <br />
  </div>
  <div class="host-info" v-if="host">
    <img :src="host.image" />
    <br />
    {{ host.name }}
    <br />
    {{ $dateFns.format(host.joined, $nuxt.context.env.dateFormat) }}
    <br />
    {{ host.reviewCount }}
    <br />
    {{ host.description }}
    <br />
  </div>
</div>
